<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success" href="#contato" role="tab" data-toggle="tab">Contato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success" href="#endereco" role="tab" data-toggle="tab">Endereço</a>
  </li>
</ul>

<%= form_for(associado) do |f| %>
  <% if associado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associado.errors.count, "error") %> erros proibem este associado de ser salvo:</h2>

      <ul>
      <% associado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="informacoes">
      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :nome, class: "form-control", placeholder: "Nome", required: "required" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.date_field :data_nascimento, class: "form-control", placeholder: "Data de nascimento", max: "2999-12-31" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :local_nascimento, class: "form-control", placeholder: "Local de nascimento" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :rg, class: "rg form-control", placeholder: "RG" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :cpf, class: "cpf form-control", placeholder: "CPF" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :prato_preferido, class: "form-control", placeholder: "Prato preferido" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_area :observacoes, class: "form-control", placeholder: "Observações" %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="contato">
      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :telefone, class: "celular form-control", placeholder: "Telefone" %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="endereco">
      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :cep, class: "cep form-control", placeholder: "CEP" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :cidade, class: "form-control", placeholder: "Cidade" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :estado, class: "uf form-control", placeholder: "Estado" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :bairro, class: "form-control", placeholder: "Bairro" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :rua, class: "form-control", placeholder: "Rua" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.number_field :numero, class: "form-control", placeholder: "Número" %>
        </div>
      </div>
    </div>
  </div>

  <div class="actions row">
    <div class="ml-auto col-auto mr-auto">
      <%= link_to 'Voltar', associados_path, class: "btn btn-danger" %>
      <%= f.submit "Salvar", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
