<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-red-ade active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn btn-outline-red-ade" href="#contato" role="tab" data-toggle="tab">Contato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn btn-outline-red-ade" href="#endereco" role="tab" data-toggle="tab">Endereço</a>
  </li>
</ul>

<%= simple_form_for(associado) do |f| %>
  <div class="form-inputs">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="informacoes">
        <%= f.input :nome, label: "Nome", required: "required", autofocus: true %>
        <%= f.input :data_nascimento, as: :date, start_year: Date.today.year - 100, end_year: Date.today.year, label: "Data de nascimento: " %>
        <%= f.input :local_nascimento, label: "Local de nascimento: " %>
        <%= f.input :rg, label: "RG: " %>
        <%= f.input :cpf, label: "CPF: "  %>
        <%= f.input :prato_preferido, label: "Prato preferido: " %>
        <%= f.input :observacoes, label: "Observações: " %>
      </div>

      <div role="tabpanel" class="tab-pane" id="contato">
        <%= f.input :email, label: "Email: " %>
        <%= f.input :telefone, label: "Telefone: ", input_html: { class: "celular" } %>
      </div>

      <div role="tabpanel" class="tab-pane" id="endereco">
        <%= f.input :cep, label: "CEP: ", input_html: { class: "cep" } %>
        <%= f.input :cidade, label: "Cidade: " %>
        <%= f.input :estado, label: "Estado: ", input_html: { class: "uf" } %>
        <%= f.input :bairro, label: "Bairro: " %>
        <%= f.input :rua, label: "Rua: " %>
        <%= f.input :numero, label: "Número: " %>
      </div>
    </div>    
  </div>

  <div class="actions row">
    <div class="ml-auto col-auto mr-auto">
      <%= link_to 'Voltar', associados_path, class: "btn btn-danger" %>
      <%= f.submit "Salvar", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
