<%= form_for(associado) do |f| %>
  <% if associado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(associado.errors.count, "error") %> erros proibem este associado de ser salvo:</h2>

      <ul>
      <% associado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="informacoes">
      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :nome, class: "form-control", placeholder: "Nome", required: "required" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :data_nascimento, class: "date form-control", placeholder: "Data de nascimento" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :local_nascimento, class: "form-control", placeholder: "Local de nascimento" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :rg, class: "rg form-control", placeholder: "RG" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :cpf, class: "cpf form-control", placeholder: "CPF" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :prato_preferido, class: "form-control", placeholder: "Prato preferido" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_area :observacoes, class: "form-control", placeholder: "Observações" %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="contato">
      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :telefone, class: "celular form-control", placeholder: "Telefone" %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="endereco">
      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :cep, class: "cep form-control", placeholder: "CEP" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :cidade, class: "form-control", placeholder: "Cidade" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :estado, class: "uf form-control", placeholder: "Estado" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :bairro, class: "form-control", placeholder: "Bairro" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.text_field :rua, class: "form-control", placeholder: "Rua" %>
        </div>
      </div>

      <div class="row no-gutters">
        <div class="col-12">
          <%= f.number_field :numero, class: "form-control", placeholder: "Número" %>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="parentes">
      <table class="table table-stripped">
        <thead>
          <tr>
            <button class="btn btn-success btn-block btn-lg btn-table" ng-click="novoParente()">
              <i class="fas fa-plus"></i> Adicionar Parente
            </button>
          </tr>
        </thead>
        <tbody>
          <tr class="row no-gutters" ng-repeat="parente in associado.parentes">
            <td class="col-sm-4 col-12">
              <input class="form-control btn-sm" type="text" placeholder="Nome do Parente">
            </td>

            <td class="col-sm-4 col-12">
              <input class="form-control btn-sm" type="text" placeholder="Parentesco">
            </td>

            <td class="col-sm-3 col-12">
              <input class="form-control btn-sm date" type="text" placeholder="Data de Nascimento">
            </td>

            <td class="col-sm-1 col-12">
              <button type="button" class="btn btn-danger btn-sm btn-block">Apagar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="actions row">
    <div class="ml-auto col-auto mr-auto">
      <%= link_to 'Voltar', associados_path, class: "btn btn-danger" %>
      <%= f.submit "Salvar", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
