<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success" href="#contato" role="tab" data-toggle="tab">Contato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success" href="#endereco" role="tab" data-toggle="tab">Endereço</a>
  </li>
</ul>

<%= simple_form_for(associado) do |f| %>
<div class="form-inputs">
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="informacoes">
      <%= f.input :nome, label: "Nome", required: "required", autofocus: true, label_html: { class: "text-success" } %>
      <%= f.input :data_nascimento, label: "Data de nascimento: ", label_html: { class: "text-success" } %>
      <%= f.input :local_nascimento, label: "Local de nascimento: ", label_html: { class: "text-success" } %>
      <%= f.input :rg, label: "RG: ", label_html: { class: "text-success" }, input_html: { class: "rg" } %>
      <%= f.input :cpf, label: "CPF: ", label_html: { class: "text-success" }, input_html: { class: "cpf" } %>
      <%= f.input :prato_preferido, label: "Prato preferido: ", label_html: { class: "text-success" } %>
      <%= f.input :observacoes, label: "Observações: ", label_html: { class: "text-success" } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="contato">
      <%= f.input :email, label: "Email: ", label_html: { class: "text-success" } %>
      <%= f.input :telefone, label: "Telefone: ", label_html: { class: "text-success" }, input_html: { class: "celular" } %>
    </div>

    <div role="tabpanel" class="tab-pane" id="endereco">
      <%= f.input :cep, label: "CEP: ", label_html: { class: "text-success" }, input_html: { class: "cep" } %>
      <%= f.input :cidade, label: "Cidade: ", label_html: { class: "text-success" } %>
      <%= f.input :estado, label: "Estado: ", label_html: { class: "text-success" }, input_html: { class: "uf" } %>
      <%= f.input :bairro, label: "Bairro: ", label_html: { class: "text-success" } %>
      <%= f.input :rua, label: "Rua: ", label_html: { class: "text-success" } %>
      <%= f.input :numero, label: "Número: ", label_html: { class: "text-success" } %>
    </div>
  </div>    
</div>

<div class="actions row">
  <div class="ml-auto col-auto mr-auto">
    <%= link_to 'Voltar', associados_path, class: "btn btn-danger" %>
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
</div>
<% end %>
