<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @associado.nome %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @associado.data_nascimento %>
</p>

<p>
  <strong>Local nascimento:</strong>
  <%= @associado.local_nascimento %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @associado.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @associado.cpf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @associado.cep %>
</p>

<p>
  <strong>Email:</strong>
  <%= @associado.email %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @associado.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @associado.estado %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @associado.bairro %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @associado.rua %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @associado.numero %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @associado.telefone %>
</p>

<p>
  <strong>Prato preferido:</strong>
  <%= @associado.prato_preferido %>
</p>

<p>
  <strong>Observacoes:</strong>
  <%= @associado.observacoes %>
</p>

<%= link_to 'Edit', edit_associado_path(@associado) %> |
<%= link_to 'Back', associados_path %>
