<section> 
  <div class="row my-3">
    <div class="col-11 mx-auto form-associado">
      <ul class="nav nav-tabs pagination" role="tablist">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-red-ade active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-red-ade" href="#contato" role="tab" data-toggle="tab">Contato</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-red-ade" href="#endereco" role="tab" data-toggle="tab">Endereço</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-red-ade" href="#parentes" role="tab" data-toggle="tab">Parentes</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="informacoes">
          <p>
            <strong>Nome:</strong>
            <%= @associado.nome %>
          </p>

          <p>
            <strong>Data de nascimento:</strong>
            <% if @associado.data_nascimento %>
              <%= @associado.data_nascimento.strftime("%d/%m/%Y") %>
            <% end %>
          </p>

          <p>
            <strong>Local de nascimento:</strong>
            <%= @associado.local_nascimento %>
          </p>

          <p>
            <strong>RG:</strong>
            <%= @associado.rg %>
          </p>

	        <p>
		        <strong>CPF:</strong>
		        <%= @associado.cpf %>
	        </p>

	        <p>
		        <strong>Data de ingresso:</strong>
		        <% if @associado.data_ingresso %>
		          <%= @associado.data_ingresso.strftime("%d/%m/%Y") %>
		        <% end %>
	        </p>

	        <p>
            <strong>Prato preferido:</strong>
            <%= @associado.prato_preferido %>
          </p>
          
          <p>
            <strong>Observações:</strong>
            <%= @associado.observacoes %>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="contato">
          <p>
            <strong>Email:</strong>
            <%= @associado.email %>
          </p>

          <p>
            <strong>Telefone:</strong>
            <%= @associado.telefone %>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="endereco">
          <p>
            <strong>CEP:</strong>
            <%= @associado.cep %>
          </p>

          <p>
            <strong>Cidade:</strong>
            <%= @associado.cidade %>
          </p>

          <p>
            <strong>Estado:</strong>
            <%= @associado.estado %>
          </p>

          <p>
            <strong>Bairro:</strong>
            <%= @associado.bairro %>
          </p>

          <p>
            <strong>Rua:</strong>
            <%= @associado.rua %>
          </p>

          <p>
            <strong>Número:</strong>
            <%= @associado.numero %>
          </p>
        </div>
        
        <div role="tabpanel" class="tab-pane" id="parentes">
          <div class="container">
            <table class="table table-stripped table-responsive text-center">
              <thead>
                <tr>
                  <th class="col-4">Nome</th>  
                  <th class="col-4">Parentesco</th>  
                  <th class="col-4">Data de Nascimento</th>  
                </tr>
              </thead>
              <tbody>
                <% @parentes.each do |parente| %>
                  <tr>
                    <td>
                      <%= parente.nome %>
                    </td>

                    <td>
                      <%= parente.parentesco %>
                    </td>

                    <td>
                      <% if parente.data_nascimento %>
                        <%= parente.data_nascimento.strftime("%d/%m/%Y") %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="actions row">
        <div class="ml-auto col-auto mr-auto">
          <%= link_to 'Voltar', associados_path, class: "btn btn-danger" %>
          <%= link_to "Editar", edit_associado_path(@associado), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</section>
