<section> 
  <div class="row">
    <div class="col-12 form-associado">
      <ul class="nav nav-tabs pagination" role="tablist">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-success active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-success" href="#contato" role="tab" data-toggle="tab">Contato</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-success" href="#endereco" role="tab" data-toggle="tab">Endereço</a>
        </li>

        <li class="nav-item">
          <a class="nav-link btn btn-outline-success" href="#parentes" role="tab" data-toggle="tab">Parentes</a>
        </li>    
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="informacoes">
          <p>
            <strong>Nome:</strong>
            <%= @associado.nome %>
          </p>

          <p>
            <strong>Data de nascimento:</strong>
            <%= @associado.data_nascimento.strftime("%d/%m/%Y") %>
          </p>

          <p>
            <strong>Local de nascimento:</strong>
            <%= @associado.local_nascimento %>
          </p>

          <p>
            <strong>RG:</strong>
            <%= @associado.rg %>
          </p>

          <p>
            <strong>CPF:</strong>
            <%= @associado.cpf %>
          </p>

          <p>
            <strong>Prato preferido:</strong>
            <%= @associado.prato_preferido %>
          </p>
          
          <p>
            <strong>Observações:</strong>
            <%= @associado.observacoes %>
          </p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="contato">
          <p>
            <strong>Email:</strong>
            <%= @associado.email %>
          </p>

          <p>
            <strong>Telefone:</strong>
            <%= @associado.telefone %>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="endereco">
          <p>
            <strong>CEP:</strong>
            <%= @associado.cep %>
          </p>

          <p>
            <strong>Cidade:</strong>
            <%= @associado.cidade %>
          </p>

          <p>
            <strong>Estado:</strong>
            <%= @associado.estado %>
          </p>

          <p>
            <strong>Bairro:</strong>
            <%= @associado.bairro %>
          </p>

          <p>
            <strong>Rua:</strong>
            <%= @associado.rua %>
          </p>

          <p>
            <strong>Número:</strong>
            <%= @associado.numero %>
          </p>
        </div>

        <div role="tabpanel" class="tab-pane" id="parentes">
          <% #@parentes.each do |parente| %>
          <!-- 
            <p>
              <strong>Nome:</strong>
              <% #@parente.nome %>
            </p>

            <p>
              <strong>Parentesco:</strong>
              <% #@parente.parentesco %>
            </p>

            <p>
              <strong>Data de nascimento:</strong>
              <% #@parente.data_nascimento %>
            </p>
          -->
          <% #end %>
        </div>
      </div>

      <div class="actions row">
        <div class="ml-auto col-auto mr-auto">
          <%= link_to 'Voltar', associados_path, class: "btn btn-danger" %>
          <%= link_to "Editar", edit_associado_path(@associado), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</section>
