<div class="container pt-4 px-0">
  <div class="text-center">
    <img id="logo-green" src="/assets/logo-verde.png" width="150" class="shadow mt-2">
  </div>
  <div class="row row-auth">
    <div class="col-sm-12 col-md-8 col-lg-5 mx-auto">
      <div class="card card-auth text-white p-2">
        <div class="card-body">
          <h3 class="title text-center pb-3">Cadastro de Usuário</h3>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-2 col-12", placeholder: "Email" %>
            <% if @minimum_password_length %>
            <em class="ml-3">(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />            
            <%= f.password_field :password, autocomplete: "off", class: "form-control col-12 mb-3", placeholder: "Senha" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-12 mb-2", placeholder: "Confirmar senha" %>            

            <%= f.submit "Cadastrar", class: "btn btn-success col-12 mt-2 py-2 text-uppercase text-white weight-500" %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
