<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>

  <li class="nav-item">
    <a class="endereco_tab nav-link btn btn-outline-success" href="#jogadores" role="tab" data-toggle="tab">Relatório de jogadores</a>
  </li>

  <li class="nav-item ml-auto">
    <button onclick="$('form').submit();" class="btn btn-success nav-link">Enviar</button>
  </li>       
</ul>

<%= simple_form_for(relatorio_jogo) do |f| %>
  <div class="tab-content scroll-y" style="height: 60vh;">
    <div role="tabpanel" class="tab-pane active" id="informacoes">
      <%= f.input :gols_pro %>
      <%= f.input :gols_contra %>
      <%= f.input :responsavel_uniforme %>
      <%= f.input :uniforme %>
      <%= f.input :observacao %>
    </div>

    <div id="jogadores" role="tabpanel" class="tab-pane">
      <table class="table table-stripped">
        <tbody>
          <% @associados.each do |associado| %>
            <tr class="row no-gutters mb-0">
              <td class="col">
                <%= link_to associado.nome, associado %>
              </td>

              <td class="col-auto ml-auto">
                <%= link_to 'Relatório individual', parentes_path(associado_id: associado.id), class: "btn btn-primary btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  </div>

  <div class="actions mb-2">
    <%= link_to "Voltar", agenda_path, class: "btn btn-danger" %>
  </div>
<% end %>
