<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>

  <li class="nav-item">
    <a class="endereco_tab nav-link btn btn-outline-success" href="#jogadores" role="tab" data-toggle="tab">Relatório de jogadores</a>
  </li>

  <li class="nav-item hiden">
    <a class="endereco_tab nav-link btn btn-outline-success" href="#individual" role="tab" data-toggle="tab">Relatório individual</a>
  </li>

  <li class="nav-item ml-auto">
    <button onclick="$('form').submit();" class="btn btn-success nav-link">Enviar</button>
  </li>       
</ul>

<div class="tab-content scroll-y" style="height: 60vh;">
  <div id="informacoes" role="tabpanel" class="tab-pane active">
    <%= simple_form_for(relatorio_jogo) do |f| %>
      <%= f.input :gols_pro %>
      <%= f.input :gols_contra %>
      <%= f.input :responsavel_uniforme %>
      <%= f.input :uniforme %>
      <%= f.input :observacao %>
    <% end %>
  </div>

  <div id="jogadores" role="tabpanel" class="tab-pane">
    <table class="table table-stripped">
      <tbody>
        <% @associados.each do |associado| %>
          <tr class="row no-gutters mb-0">
            <td class="col">
              <%= link_to associado.nome, associado %>
            </td>

            <td class="col-auto ml-auto">
              <%= link_to 'Relatório individual', parentes_path(associado_id: associado.id), class: "btn btn-primary btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  

  <div id="individual" role="tabpanel" class="tab-pane">
    <form>
      <div class="form-group">
        <label class="form-control-label mb-0" for="individual_status">Status:</label>
        <input class="form-control" type="text" name="individual_status" id="individual_status">
      </div>

      <div class="form-group">
        <label class="form-control-label mb-0" for="individual_gol_pro">Gols feitos:</label>
        <input class="form-control" type="number" name="individual_gol_pro" id="individual_gol_pro">
      </div>
      
      <div class="form-group">
        <label class="form-control-label mb-0" for="individual_gol_sofrido">Gols sofridos:</label>
        <input class="form-control" type="number" name="individual_gol_sofrido" id="individual_gol_sofrido">
      </div>

      <div class="form-group">
        <label class="form-control-label mb-0" for="individual_cartao_amarelo">Cartões amarelos:</label>
        <input class="form-control" type="number" name="individual_cartao_amarelo" id="individual_cartao_amarelo">
      </div>
      
      <div class="row no-gutters">
        <div class="col-6 pr-2">
          <div class="form-group">
            <input class="form-control" type="checkbox" name="individual_cartao_vermelho" id="individual_cartao_vermelho">
            <label class="form-control-label form-control" for="individual_cartao_vermelho">Cartão vermelho</label>
          </div>
        </div>
        
        <div class="col-6 pl-2">
          <div class="form-group">
            <input class="form-control" type="checkbox" name="individual_goleiro" id="individual_goleiro">
            <label class="form-control-label form-control" for="individual_goleiro">Goleiro</label>
          </div>
        </div>
      </div>
      
      <div class="row no-gutters">
        <div class="col-6 pr-2">
          <div class="form-group">
            <input class="form-control" type="checkbox" name="individual_participante_confraternizacao" id="individual_participante_confraternizacao">
            <label class="form-control-label form-control" for="individual_participante_confraternizacao">Participou da confraternização</label>
          </div>
        </div>
        
        <div class="col-6 pl-2">
          <div class="form-group">
            <input class="form-control" type="checkbox" name="individual_destaque" id="individual_destaque">
            <label class="form-control-label form-control" for="individual_destaque">Destaque</label>
          </div>
        </div>
      </div>

      <input type="hidden" name="individual_associado">
      <input type="hidden" name="individual_jogo">
    </form>
  </div>
</div>

<div class="actions mb-2">
  <%= link_to "Voltar", agenda_path, class: "btn btn-danger" %>
</div>
