<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-success active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>

  <li class="nav-item">
    <a class="endereco_tab nav-link btn btn-outline-success" href="#jogadores" role="tab" data-toggle="tab">Relatório de jogadores</a>
  </li>

  <li class="nav-item hiden">
    <a class="endereco_tab nav-link btn btn-outline-success" href="#parentes" role="tab" data-toggle="tab">Relatório de parentes</a>
  </li>
</ul>

<div class="tab-content scroll-y" style="height: 60vh;">
  <%= link_to jogo_path(@relatorio_jogo.jogo), class: "row no-gutters bg-transparent h3 text-primary" do %>
    <div class="col-6 text-right pr-4"><%= @relatorio_jogo.jogo.clube.nome %></div> <div class="col-6"><i class="fas fa-times text-dark mr-4"></i>ADE</div>
  <% end %>

  <div id="informacoes" role="tabpanel" class="tab-pane active">
    <%= simple_form_for(relatorio_jogo) do |f| %>
      <div class="row no-gutters">
        <div class="col-6 pr-2">
          <div class="row">
            <div class="col-6">
              <%= f.input :gols_pro, label: "Gols pró:", input_html: { min: 0 } %>
            </div>

            <div class="col-6">
              <%= f.input :gols_contra, label: "Gols contra:", input_html: { min: 0 } %>
            </div>
          </div>

          <%= f.input :responsavel_uniforme, label: "Responsável pelo uniforme:" %>
          <%= f.input :uniforme, label: "Uniforme:" %>
        </div>

        <div class="col-6 pl-2">
          <%= f.input :observacao, as: :text, label: "Observações:", input_html: { style: "min_height: 215px; height: 215px; resize: vertical" } %>
            
            <%= f.submit "Salvar", class: "btn btn-success float-right" %>
        </div>
      </div>

    <% end %>
  </div>

  <div id="jogadores" role="tabpanel" class="tab-pane">
    <table class="table table-stripped">
      <tbody>
        <% @associados.each do |associado| %>
          <tr class="row no-gutters mb-0">
            <td class="col">
              <%= link_to associado.nome, associado %>
            </td>

            <td class="col-auto ml-auto">
              <button class='btn btn-primary btn-sm' id='<%= associado.id %>' onclick='limpar_modal_jogador(); modal_jogador("<%= associado.id %>", "<%= relatorio_jogo.id %>")' type="button" data-toggle="modal" data-target="#Relatorio_jogador">Relatório individual</button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>  

  <div id="parentes" role="tabpanel" class="tab-pane">
    <table class="table table-stripped">
      <thead>
        <tr class="row no-gutters mb-0">
          <th class="col-5">Parente</th>
          <th class="col-5">Associado</th>
          <th class="col-2"> </th>
        </tr>
      </thead>

      <tbody>
        <% @parentes.each do |parente| %>
          <tr class="row no-gutters mb-0">
            <td class="col">
              <%= link_to parente.nome, parente %>
            </td>

            <td class="col">
              <%= link_to parente.associado.nome, parente.associado %>
            </td>

            <td class="col-auto ml-auto">
              <%= link_to 'Relatório de parente', nova_avaliacao_parente_path(parente.id, relatorio_jogo.id), class: 'btn btn-primary btn-sm', data: { modal: true } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="actions mb-2">
  <%= link_to "Voltar", agenda_path, class: "btn btn-danger" %>
</div>

<!-- Modal -->
<div class="modal fade right" id="Relatorio_jogador" tabindex="-1"  aria-hidden="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalPreviewLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <select id="status">
          <option value="0">Selecione o status: </option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
        
        <br>

        <input type="checkbox" id="confraternizacao" name="test">Participou da confraternização:
        
        <br>
        
        Cartões amarelos <br>
        <input type="radio" name="cartao_amarelo" value="0" id="cartao_amarelo_default" checked="true"> 0 <br>
        <input type="radio" name="cartao_amarelo" value="1"> 1 <br>
        <input type="radio" name="cartao_amarelo" value="2"> 2 <br>

        <br>
        <input type="checkbox" id="cartao_vermelho">Cartões Vermelhos
        <br>
        <input type="checkbox" id="goleiro">Goleiro:
        <br>
        <input type="number" value=0 id="gol_pro">Gols pró:
        <br>
        <input type="number" value=0 id="gol_sofrido">Gols sofridos:
        <br>
        <input type="checkbox" id="destaque">Jogador destaque
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="save_jogador()">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

<script>
  jogador_id = 0;
  relatorio_jogo_id = 0;

  function modal_jogador(jogador, relatorio_jogo){
    jogador_id = jogador;
    relatorio_jogo_id = relatorio_jogo;
  }

  function save_jogador(){
    status = $("#status").val();
    gol_pro = $("#gol_pro").val();
    gol_sofrido = $("#gol_sofrido").val();
    goleiro = $("#goleiro").is(":checked");
    destaque = $("#destaque").is(":checked");
    confraternizacao = $("#confraternizacao").is(":checked");
    cartao_vermelho = $("#cartao_vermelho").is(":checked") ? 1 : 0;
    cartao_amarelo = $("input[name='cartao_amarelo']:checked").val();
    
    $.ajax({
      url: "/avaliacao/jogador/new/"+jogador_id+"/"+relatorio_jogo_id,
      data:{
        avaliacao_jogador:{
          status: status,
          participante_confraternizacao: confraternizacao,
          cartao_amarelo: cartao_amarelo,
          cartao_vermelho: cartao_vermelho,
          goleiro: goleiro,
          gol_pro: gol_pro,
          gol_sofrido: gol_sofrido,
          destaque: destaque
        }
      },
      success: function(result){
        $('#Relatorio_jogador').modal('toggle');
        alert("Cadastro concluido com sucesso!");
      }
    });
  }

  function limpar_modal_jogador(){
    $("#status").val(0);
    $("#gol_pro").val(0);
    $("#gol_sofrido").val(0);
    $("#goleiro").prop("checked", false);
    $("#destaque").prop("checked", false);
    $("#confraternizacao").prop("checked", false);
    $("#cartao_vermelho").prop("checked", false);
    $("#cartao_amarelo_default").prop("checked", true);
  }
</script>