<p id="notice"><%= notice %></p>

<h1>Relatorio Jogos</h1>

<table>
  <thead>
    <tr>
      <th>Gols pro</th>
      <th>Gols contra</th>
      <th>Observacao</th>
      <th>Uniforme</th>
      <th>Responsavel uniforme</th>
      <th>Jogo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relatorio_jogos.each do |relatorio_jogo| %>
      <tr>
        <td><%= relatorio_jogo.gols_pro %></td>
        <td><%= relatorio_jogo.gols_contra %></td>
        <td><%= relatorio_jogo.observacao %></td>
        <td><%= relatorio_jogo.uniforme %></td>
        <td><%= relatorio_jogo.responsavel_uniforme %></td>
        <td><%= relatorio_jogo.jogo %></td>
        <td><%= link_to 'Show', relatorio_jogo %></td>
        <td><%= link_to 'Edit', edit_relatorio_jogo_path(relatorio_jogo) %></td>
        <td><%= link_to 'Destroy', relatorio_jogo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relatorio Jogo', new_relatorio_jogo_path %>
