<%= simple_form_for(@avaliacao_jogador, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :status, as: :select, collection: ['Presente','Ausente','Presente sem jogar','Presente e machucado','Ausente e machucado'] %>

    <%= f.input :participante_confraternizacao, label: "Participou da confraternização: " %>

    <%= f.input :cartao_amarelo, as: :radio_buttons, label: "Cartão amarelo: ", collection: [0, 1, 2] %>

    <%= f.input :cartao_vermelho, as: :boolean, label: "Cartão vermelho: ", checked_value: 1, unchecked_value: 0 %>

    <%= f.input :goleiro, label: "Goleiro: " %>

    <%= f.input :gol_pro, label: "Gol(s) pró: " %>

    <%= f.input :gol_sofrido, label: "Gol(s) sofridos: " %>

    <%= f.input :destaque, label: "Jogador destaque: " %>

    <%= f.input :associado_id, as: :hidden %>
    <%= f.input :relatorio_jogo_id, as: :hidden %>

  </div>

  <div class="form-actions">
    <%= f.submit "Salvar", class: "btn btn-success float-right", onclick: "$('.modal').modal('toggle');" %>
  </div>
<% end %>
