<section>
  <div class="row">
    <button class="btn btn-success weight-500 text-uppercase mb-2 tabela-padrao" onclick="imprimir()">Imprimir</button>

    <div class="col-12 form-associado shadow-lg px-4 pt-3">
      <div>
        <% unless @associados.nil? %>
          <p class="text-center mt-3 mb-2">
            <b class="h3">Associados</b>
          </p>

          <table class="table table-striped bg-secondary b-0">
            <tr>
              <th class="b-l-0">Nome</th>
              <th>Aniversário</th>
              <th>E-mail</th>
              <th class="b-r-0">Telefone</th>
            </tr>

            <% @associados.each do |a| %>
              <% unless a.data_nascimento.nil? and a.data_nascimento != "" %>
                <tr>
                  <td class="b-l-0"><%= a.nome %></td>
                  <td><%= a.data_nascimento.strftime("%d/%m/%Y") %></td>
                  <td><%= a.email %></td>
                  <td class="b-r-0"><%= a.telefone %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>

        <% unless @parentes.nil? %>
          <p class="text-center mt-3 mb-2">
            <b class="h3">Parentes</b>
          </p>

          <table class="table table-striped bg-secondary">
            <tr>
              <th class="b-l-0">Nome</th>
              <th>Aniversário</th>
              <th>Parentesco</th>
              <th class="b-r-0">Parente</th>
            </tr>
            
            <% @parentes.each do |a| %>
              <% unless a.data_nascimento.nil? and a.data_nascimento != "" %>
                <tr>
                  <td class="b-l-0"><%= a.nome %></td>
                  <td><%= a.data_nascimento.strftime("%d/%m/%Y") %></td>
                  <td><%= a.parentesco %></td>
                  <td class="b-r-0"><%= a.associado.nome %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>

        <% unless @clubes.nil? %>
          <p class="text-center mt-3 mb-2">
            <b class="h3">Clubes</b>
          </p>

          <table class="table table-striped bg-secondary">
            <tr>
              <th class="b-l-0">Nome</th>
              <th>Aniversário</th>
              <th>Telefone</th>
              <th class="b-r-0">Contato</th>
            </tr>
            
            <% @clubes.each do |a| %>
              <% unless a.data_fundacao.nil? and a.data_fundacao != "" %>
                <tr>
                  <td class="b-l-0"><%= a.nome %></td>
                  <td><%= a.data_fundacao.strftime("%d/%m/%Y") %></td>
                  <td><%= a.telefone_clube %></td>
                  <td class="b-r-0"><%= a.telefone_contato %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </div>
      <div class="imprimir">
        <% unless @associados.nil? %>
          <p class="text-center mt-3 mb-2">
            <b class="h3">Associados</b>
          </p>

          <table class="table table-striped bg-secondary">
            <tr>
              <th class="b-l-0">Nome</th>
              <th>Aniversário</th>
              <th>E-mail</th>
              <th class="b-r-0">Telefone</th>
            </tr>

            <% @associados.each do |a| %>
              <% unless a.data_nascimento.nil? and a.data_nascimento != "" %>
                <tr>
                  <td class="b-l-0"><%= a.nome %></td>
                  <td><%= a.data_nascimento.strftime("%d/%m/%Y") %></td>
                  <td><%= a.email %></td>
                  <td class="b-r-0"><%= a.telefone %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>

        <% unless @parentes.nil? %>
          <p class="text-center mt-3 mb-2">
            <b class="h3">Parentes</b>
          </p>

          <table class="table table-striped bg-secondary">
            <tr>
              <th class="b-l-0">Nome</th>
              <th>Aniversário</th>
              <th>Parentesco</th>
              <th class="b-r-0">Parente</th>
            </tr>
            
            <% @parentes.each do |a| %>
              <% unless a.data_nascimento.nil? and a.data_nascimento != "" %>
                <tr>
                  <td class="b-l-0"><%= a.nome %></td>
                  <td><%= a.data_nascimento.strftime("%d/%m/%Y") %></td>
                  <td><%= a.parentesco %></td>
                  <td class="b-r-0"><%= a.associado.nome %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>

        <% unless @clubes.nil? %>
          <p class="text-center mt-3 mb-2">
            <b class="h3">Clubes</b>
          </p>

          <table class="table table-striped bg-secondary">
            <tr>
              <th class="b-l-0">Nome</th>
              <th>Aniversário</th>
              <th>Telefone</th>
              <th class="b-r-0">Contato</th>
            </tr>
            
            <% @clubes.each do |a| %>
              <% unless a.data_fundacao.nil? and a.data_fundacao != "" %>
                <tr>
                  <td class="b-l-0"><%= a.nome %></td>
                  <td><%= a.data_fundacao.strftime("%d/%m/%Y") %></td>
                  <td><%= a.telefone_clube %></td>
                  <td class="b-r-0"><%= a.telefone_contato %></td>
                </tr>
              <% end %>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</section>
