<% if !@associados[0].nil? %>
	<p class="text-center mb-0">
		<b class="h3">Associados</b>
	</p>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th>Aniversário</th>
			<th>E-mail</th>
			<th>Telefone</th>
		</tr>

		<% @associados.each do |a| %>
			<% if !a.data_nascimento.nil? and a.data_nascimento != "" %>
				<tr>
					<td><%= a.nome %></td>
					<td><%= a.data_nascimento.strftime("%d/%m/%Y") %></td>
					<td><%= a.email %></td>
					<td><%= a.telefone %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
<% end %>

<% if !@parentes[0].nil? %>
	<p class="text-center mb-0">
		<b class="h3">Parentes</b>
	</p>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th>Aniversário</th>
			<th>Parentesco</th>
			<th>Parente</th>
		</tr>
		
		<% @parentes.each do |a| %>
			<% if !a.data_nascimento.nil? and a.data_nascimento != "" %>
				<tr>
					<td><%= a.nome %></td>
					<td><%= a.data_nascimento.strftime("%d/%m/%Y") %></td>
					<td><%= a.parentesco %></td>
					<td><%= a.associado.nome %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
<% end %>

<% if !@clubes[0].nil? %>
	<p class="text-center mb-0">
		<b class="h3">Clubes</b>
	</p>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Nome</th>
			<th>Aniversário</th>
			<th>Telefone</th>
			<th>Contato</th>
		</tr>
		
		<% @clubes.each do |a| %>
			<% if !a.data_fundacao.nil? and a.data_fundacao != "" %>
				<tr>
					<td><%= a.nome %></td>
					<td><%= a.data_fundacao.strftime("%d/%m/%Y") %></td>
					<td><%= a.telefone_clube %></td>
					<td><%= a.telefone_contato %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
<% end %>