<section>
  <div class="row">
		<button class="btn btn-success weight-500 text-uppercase mb-2 tabela-padrao" onclick="imprimir()">Imprimir</button>

    <div class="col-12 form-associado shadow-lg px-4 pt-3 mb-2">
			<p class="text-center mt-3 mb-2">
				<b class="h3">Campanha</b>
			</p>

			<div class="text-center">
				<table class="table table-striped bg-secondary b-0"><!-- nav de campanha -->
					<tr>
						<th class="b-l-0">Nº de Jogos</th>
						<th>Vitórias</th>
						<th>Empates</th>
						<th>Derrotas</th>
						<th>Gols Pró</th>
						<th>Gols Contra</th>
						<th class="b-r-0">Saldo de Gols</th>
					</tr>

					<tr>
						<td class="b-l-0"><%= @jogos %></td>
						<td><%= @vitorias %></td>
						<td><%= @empates %></td>
						<td><%= @derrotas %></td>
						<td><%= @gols_pro %></td>
						<td><%= @gols_contra %></td>
						<td class="b-r-0"><%= @gols_saldo %></td>
					</tr>
				</table>

				<p class="text-center mt-4 mb-2">
					<b class="h3">Goleadores</b>
				</p>
				<table class="table table-striped bg-secondary"><!-- Goleadores -->
					<tr>
						<th class="col-auto b-l-0">#</th>
						<th class="col">Nome</th>
						<th class="col-auto b-r-0">Gols</th>
					</tr>
					<% @posicao = 1 %>
					<% @jogadores.sort_by{|e| -e.gols}.each do |jogador| %>
						<tr>
							<td class="b-l-0"><%= @posicao %>º</td>
							<td><%= jogador.nome %></td>
							<td class="b-r-0"><%= jogador.gols %></td>
						</tr>
						<% @posicao += 1 %>
					<% end %>
				</table>

				<p class="text-center mt-4 mb-2">
					<b class="h3">Participações</b>
				</p>
				<table class="table table-striped bg-secondary"><!-- participação -->
					<tr>
						<th class="col-auto b-l-0">#</th>
						<th class="col">Nome</th>
						<th class="col-auto b-r-0">Jogos</th>
					</tr>
					<% @posicao = 1 %>
					<% @jogadores.sort_by{|e| -e.total_de_jogos}.each do |jogador| %>
						<tr>
							<td class="b-l-0"><%= @posicao %>º</td>
							<td><%= jogador.nome %></td>
							<td class="b-r-0"><%= jogador.total_de_jogos %></td>
						</tr>
						<% @posicao += 1 %>
					<% end %>
				</table>

				<p class="text-center mt-4 mb-2">
					<b class="h3">Cartões amarelos</b>
				</p>
				<table class="table table-striped bg-secondary"><!-- Cartões amarelos -->
					<tr>
						<th class="col-auto b-l-0">#</th>
						<th class="col">Nome</th>
						<th class="col-auto b-r-0">Quantidade</th>
					</tr>
					<% @posicao = 1 %>
					<% @jogadores.sort_by{|e| -e.amarelo}.each do |jogador| %>
						<tr>
							<td class="b-l-0"><%= @posicao %>º</td>
							<td><%= jogador.nome %></td>
							<td class="b-r-0"><%= jogador.amarelo %></td>
						</tr>
						<% @posicao += 1 %>
					<% end %>
				</table>

				<p class="text-center mt-4 mb-2">
					<b class="h3">Cartões vermelhos</b>
				</p>
				<table class="table table-striped bg-secondary"><!-- Cartões vermelhos -->
					<tr>
						<th class="col-auto b-l-0">#</th>
						<th class="col">Nome</th>
						<th class="col-auto b-r-0">Quantidade</th>
					</tr>
					<% @posicao = 1 %>
					<% @jogadores.sort_by{|e| -e.vermelho}.each do |jogador| %>
						<tr>
							<td class="b-l-0"><%= @posicao %>º</td>
							<td><%= jogador.nome %></td>
							<td class="b-r-0"><%= jogador.vermelho %></td>
						</tr>
						<% @posicao += 1 %>
					<% end %>
				</table>
			</div>
		</div>
	</div>
</section>
