<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<p class="text-center my-3">
	<b class="h3">Relatório familiar</b>
</p>

<table id="myDatatable" class="table table-striped table-bordered table-responsive w-100 d-block d-md-table text-center">
	<thead>
		<tr>
			<th>Associado</th>
			<th>Parente</th>
			<th>Parentesco</th>
		</tr>		
	</thead>
	<tbody>
		<% @temp = "" %>
		<% @familiar.each do |a| %>
			<% if @temp != a.associado.nome %>
				<% @temp = a.associado.nome %>
				<tr>
					<td><b><%= a.associado.nome %></b></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>
						<i class="fas fa-level-up-alt fa-90d"></i>
					</td>
					<td><%= a.nome %></td>
					<td><%= a.parentesco %></td>
				</tr>
				<% %>
			<% else %>
				<tr>
					<td class="text-center">
						<i class="fas fa-level-up-alt fa-90d"></i>
					</td>
					<td><%= a.nome %></td>
					<td><%= a.parentesco %></td>
				</tr>
			<% end %>
		<% end %>		
	</tbody>
</table>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script>
	$(document).on('turbolinks:load', function(){
		$('#myDatatable').DataTable({
        "language": {
          "decimal":        "",
          "emptyTable":     "Nenhum item disponível na tabela.",
          "info":           "Mostrando _START_ até _END_ de _TOTAL_",
          "infoEmpty":      "Sem itens disponíveis.",
          "infoFiltered":   "(de um total de _MAX_)",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "Mostrar _MENU_",
          "loadingRecords": "Carregando...",
          "processing":     "Processando...",
          "search":         "Procurar:",
          "zeroRecords":    "Nenhum chamado encontrado",
          "paginate": {
              "first":      "Prim.",
              "last":       "Últ.",
              "next":       "Próx.",
              "previous":   "Ant."
          },            
        }, 			
		});
	})
</script>