<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Relatório familiar</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

	<style type="text/css">
		.fa-90d {
			-ms-transform: rotate(90deg) !important;
			-webkit-transform: rotate(90deg) !important;
			transform: rotate(90deg) !important;
		}
	</style>
</head>
<body>
	<p class="text-center mb-0">
		<b class="h3">Relatório familiar</b>
	</p>

	<table class="table table-striped table-bordered text-center">
		<tr>
			<th>Nome</th>
			<th>Parente</th>
			<th>Parentesco</th>
		</tr>

		<% @temp = "" %>
		<% @familiar.each do |a| %>
			<% if @temp != a.associado.nome %>
				<% @temp = a.associado.nome %>

				<tr>
					<td><b><%= a.associado.nome %></b></td>
					<td></td>
					<td></td>
				</tr>

				<tr>
					<td>
						<i class="fas fa-level-up-alt fa-90d"></i>
					</td>
					<td><%= a.nome %></td>
					<td><%= a.parentesco %></td>
				</tr>
				<%  %>
			<% else %>
				<tr>
					<td class="text-center">
						<i class="fas fa-level-up-alt fa-90d"></i>
					</td>
					<td><%= a.nome %></td>
					<td><%= a.parentesco %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
