<section>
	<div class="row">
		<div class="col-sm-7 col-12 ml-auto mr-auto">
			<div class="card t-10 p-2 pt-3 bg-success text-white">
				<div class="card-head row no-gutters">
					<div class="col">
						<h1 class="text-center">Próximo Jogo</h1>
					</div>
				</div>
				<div class="card-body row no-gutters bg-white text-dark">
					<div class="col-sm-5 col-12 text-left align-self-center">
						<% if(@jogo != nil) %>
							<h3>ADE</h3>
						<% end %>
					</div>

					<div class="offset-5 offset-sm-0 col-2 vs text-center align-self-center">
						<h3><i class="fas fa-times"></i></h3>
					</div>

					<div class="col-sm-5 col-12 text-right align-self-center">
						<% if(@jogo != nil) %>
							<h3><%= @jogo.clube.nome %></h3>
						<% end %>
					</div>
				</div>
				<div class="card-footer row no-gutters">
					<div class="col-sm-6 col-12 text-left">
						<% if(@jogo != nil) %>
							<h5>
								<%= @jogo.data.strftime("%d/%m/%Y") %> - <%= @jogo.horario %>
							</h5>
						<% end %>
					</div>

					<div class="col-sm-6 col-12 text-right">
						<% if(@jogo != nil) %>
							<% if(@jogo.campo_adversario) %>
                <% if(@jogo.clube.bairro_campo != "" and @jogo.clube.cidade_campo != "") %>
                  <%= truncate(@jogo.clube.bairro_campo, {length: 10}) + " - " + truncate(@jogo.clube.cidade_campo, {length: 10}) %>
                <% else %>
                  <%= @jogo.clube.bairro_campo %>
                  <%= @jogo.clube.cidade_campo %>
                <% end %>
              <% else %>
              	<% if(@jogo.bairro != "" and @jogo.cidade != "") %>
                  <%= truncate(@jogo.bairro, {length: 10}) + " - " + truncate(@jogo.cidade, {length: 10}) %>
                <% else %>
                  <%= truncate(@jogo.bairro, {length: 20}) %>
                  <%= truncate(@jogo.cidade, {length: 20}) %>
                <% end %>
              <% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
