<section> 
  <div class="row my-3">
    <div class="col-12 form-associado px-4 shadow-lg">
      <h1 class="text-center text-success my-3">
        <b>Agenda de jogos <%= @data.strftime("%Y") %></b>
      </h1>
      
      <% @i = 0 %>
      <% @jogos_ano.each do |jogos| %>
        <% @i += 1 %>
        <% if jogos.count != 0 %>
          <div class="row mb-5 bg-gray b-2 b-success br-5 list-agenda">
            <h3 class="btn btn-block btn-success btn-table btn-lg mt-0 mb-0">
              <b><%= @meses[@i-1] %></b>
            </h3>
            <% jogos.each do |jogo|  %>
              <div class="row no-gutters col-12 pt-2 mb-0 br-blr-4 bb-1 b-success br-0 text-center">
                <div class="col-md-12 col-lg-4">
                  <h5>
                    <%= link_to jogo, class: "row bg-transparent" do %>
                      <div class="col-12">
                        <%= jogo.clube.nome %><i class="fas fa-times text-dark mx-2"></i>ADE
                      </div>
                    <% end %>
                  </h5>
                </div>

                <div class="col-md-12 col-lg-3">
                  <h5>
                    <% if (jogo.data != "" and !jogo.data.nil?) and (jogo.horario != "" and !jogo.horario.nil?) %>
                      <%= jogo.data.strftime("%d/%m/%Y") %> - <%= jogo.horario %>
                    <% elsif (jogo.data != "" and !jogo.data.nil?) %>
                      <%= jogo.data.strftime("%d/%m/%Y") %>
                    <% else %>
                      <%= jogo.horario %>
                    <% end %>
                  </h5>
                </div>
                
                <div class="col-md-12 col-lg-3">
                  <h5>
                    <% if jogo.campo_adversario %>
                      <% if (jogo.clube.bairro_campo != "" and !jogo.clube.bairro_campo.nil?) and (jogo.clube.cidade_campo != "" and !jogo.clube.cidade_campo.nil?) %>
                        <%= truncate(jogo.clube.bairro_campo, {length: 12}) %> - <%= truncate(jogo.clube.cidade_campo, {length: 12}) %>
                      <% else %>
                        <%= truncate(jogo.clube.bairro_campo, {length: 25}) %>
                        <%= truncate(jogo.clube.cidade_campo, {length: 25}) %>
                      <% end %>
                    <% else %>
                      <% if (jogo.bairro != "" and !jogo.bairro.nil?) and (jogo.cidade != "" and !jogo.cidade.nil?) %>
                        <%= truncate(jogo.bairro, {length: 12}) %> - <%= truncate(jogo.cidade, {length: 12}) %> 
                      <% else %>
                        <%= truncate(jogo.bairro, {length: 25}) %>
                        <%= truncate(jogo.cidade, {length: 25}) %>
                      <% end %>
                    <% end %>
                  </h5>
                </div>

                <div class="col-md-12 col-lg-auto ml-md-auto">
                  <% if jogo.relatorio %>
                    <%= link_to 'Editar relatório', edit_relatorio_jogo_path(jogo), class: "btn btn-outline-primary btn-sm mb-2 ml-2" %>
                  <% else %>
                    <%= link_to 'Fazer relatório', novo_relatorio_jogo_path(jogo), class: "btn btn-primary btn-sm mb-2 ml-2" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>
