<%= simple_form_for(relatorio_jogador, remote: request.xhr?, html: { data: { modal: true } }) do |f| %>
  <% if relatorio_participacao_parente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(relatorio_participacao_parente.errors.count, "error") %> prohibited this relatorio_participacao_parente from being saved:</h2>

      <ul>
      <% relatorio_participacao_parente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>

  <div class="field">
    <%= f.label :participante_confraternizacao %>
    <%= f.check_box :participante_confraternizacao %>
  </div>

  <div class="field">
    <%= f.label :cartao_amarelo %>
    <%= f.number_field :cartao_amarelo %>
  </div>

  <div class="field">
    <%= f.label :cartao_vermelho %>
    <%= f.number_field :cartao_vermelho %>
  </div>

  <div class="field">
    <%= f.label :goleiro %>
    <%= f.check_box :goleiro %>
  </div>

  <div class="field">
    <%= f.label :gol_pro %>
    <%= f.number_field :gol_pro %>
  </div>

  <div class="field">
    <%= f.label :gol_sofrido %>
    <%= f.number_field :gol_sofrido %>
  </div>

  <div class="field">
    <%= f.label :destaque %>
    <%= f.check_box :destaque %>
  </div>

  <div class="field">
    <%= f.label :associado_id %>
    <%= f.text_field :associado_id %>
  </div>

  <div class="field">
    <%= f.label :relatorio_jogo_id %>
    <%= f.text_field :relatorio_jogo_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
