<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @relatorio_jogadore.status %>
</p>

<p>
  <strong>Participante confraternizacao:</strong>
  <%= @relatorio_jogadore.participante_confraternizacao %>
</p>

<p>
  <strong>Cartao amarelo:</strong>
  <%= @relatorio_jogadore.cartao_amarelo %>
</p>

<p>
  <strong>Cartao vermelho:</strong>
  <%= @relatorio_jogadore.cartao_vermelho %>
</p>

<p>
  <strong>Goleiro:</strong>
  <%= @relatorio_jogadore.goleiro %>
</p>

<p>
  <strong>Gol pro:</strong>
  <%= @relatorio_jogadore.gol_pro %>
</p>

<p>
  <strong>Gol sofrido:</strong>
  <%= @relatorio_jogadore.gol_sofrido %>
</p>

<p>
  <strong>Destaque:</strong>
  <%= @relatorio_jogadore.destaque %>
</p>

<p>
  <strong>Associado:</strong>
  <%= @relatorio_jogadore.associado %>
</p>

<p>
  <strong>Relatorio:</strong>
  <%= @relatorio_jogadore.relatorio %>
</p>

<%= link_to 'Edit', edit_relatorio_jogadore_path(@relatorio_jogadore) %> |
<%= link_to 'Back', relatorio_jogadores_index_path %>
