<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @relatorio_jogador.status %>
</p>

<p>
  <strong>Participante confraternizacao:</strong>
  <%= @relatorio_jogador.participante_confraternizacao %>
</p>

<p>
  <strong>Cartao amarelo:</strong>
  <%= @relatorio_jogador.cartao_amarelo %>
</p>

<p>
  <strong>Cartao vermelho:</strong>
  <%= @relatorio_jogador.cartao_vermelho %>
</p>

<p>
  <strong>Goleiro:</strong>
  <%= @relatorio_jogador.goleiro %>
</p>

<p>
  <strong>Gol pro:</strong>
  <%= @relatorio_jogador.gol_pro %>
</p>

<p>
  <strong>Gol sofrido:</strong>
  <%= @relatorio_jogador.gol_sofrido %>
</p>

<p>
  <strong>Destaque:</strong>
  <%= @relatorio_jogador.destaque %>
</p>

<p>
  <strong>Associado:</strong>
  <%= @relatorio_jogador.associado %>
</p>

<p>
  <strong>Relatorio:</strong>
  <%= @relatorio_jogador.relatorio %>
</p>

<%= link_to 'Edit', edit_relatorio_jogador_path(@relatorio_jogador) %> |
<%= link_to 'Back', relatorio_jogadores_path %>
