<section>
  <div class="row mt-3">
    <div class="col-sm-12 col-md-11 mx-auto">
      <table class="table table-stripped">
        <thead>
          <tr>
            <%= link_to new_jogo_path, class: "btn btn-success btn-block btn-lg btn-table" do %>
              <i class="fas fa-plus"></i> Incluir Novo Jogo
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% if @jogos == [] %>
            <tr class="row no-gutters">
              <td class="col-12 text-center">
                <span class="weight-500">Não há jogos cadastrados!</span>
              </td>
            </tr>          
          <% end %>

          <% @jogos.each do |jogo| %>
            <tr class="row no-gutters">
              <td class="col-sm-8 col-5">
                <%= link_to jogo do %><!--Local de armazenamento -->
                  <%= jogo.clube.nome %> <i class="fas fa-times text-dark fa-sm"></i> ADE
                <% end %>
              </td>

              <td class="col-auto ml-auto">
                <%= link_to 'Editar', edit_jogo_path(jogo), class: "btn btn-outline-success btn-sm" %>
              </td>

              <td class="col-auto">
                <%= link_to 'Apagar', jogo, method: :delete, data: { confirm: 'Realmente deseja apagar?' }, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
