<section>
  <div class="row mt-3">
    <div class="col-12 form-associado">
      <h1 class="text-success text-center" ><%= link_to @jogo.clube.nome, @jogo.clube, class: "text-success" %> <i class="fas fa-times fa-xs text-dark"></i> ADE</h1>
      <hr>

      <p>
        <strong>Data:</strong>
        <% if !@jogo.data.nil? %>
          <%= @jogo.data.strftime("%d/%m/%Y") %>
        <% end %>
      </p>

      <p>
        <strong>Horário:</strong>
        <%= @jogo.horario %>
      </p>

      <% if @jogo.campo_adversario %>
        <p>
          <strong>Local:</strong>
          Campo do adversário
        </p>

        <p>
          <strong>CEP:</strong>
          <%= @jogo.clube.cep_campo %>
        </p>

        <p>
          <strong>Estado:</strong>
          <%= @jogo.clube.estado_campo %>
        </p>

        <p>
          <strong>Cidade:</strong>
          <%= @jogo.clube.cidade_campo %>
        </p>

        <p>
          <strong>Bairro:</strong>
          <%= @jogo.clube.bairro_campo %>
        </p>

        <p>
          <strong>Rua:</strong>
          <%= @jogo.clube.rua_campo %>
        </p>

        <p>
          <strong>Número:</strong>
          <%= @jogo.clube.numero_campo %>
        </p>
      <% else %>
        <p>
          <strong>Local:</strong>
          Campo alugado
        </p>

        <p>
          <strong>CEP:</strong>
          <%= @jogo.cep %>
        </p>

        <p>
          <strong>Estado:</strong>
          <%= @jogo.estado %>
        </p>

        <p>
          <strong>Cidade:</strong>
          <%= @jogo.cidade %>
        </p>

        <p>
          <strong>Bairro:</strong>
          <%= @jogo.bairro %>
        </p>

        <p>
          <strong>Rua:</strong>
          <%= @jogo.rua %>
        </p>

        <p>
          <strong>Número:</strong>
          <%= @jogo.numero %>
        </p>
      <% end %>

      <div class="actions row">
        <div class="ml-auto col-auto mr-auto">
          <%= link_to 'Voltar', jogos_path, class: "btn btn-danger" %>
          <%= link_to "Editar", edit_jogo_path(@jogo), class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</section>
