<div class="container py-5">
  <div class="row py-5">
    <div class="offset-sm-3 col-sm-6 col-12">
      <div class="card text-white p-5">
        <div class="card-body">
          <h1 class="text-center">Acesse sua conta</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Senha" %>
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "Permanecer ativo " %>
            <% end -%>
            <%= f.submit "Entrar", class: "btn btn-light btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
