<%= form_for(clube) do |f| %>
  <% if clube.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clube.errors.count, "error") %> prohibited this clube from being saved:</h2>

      <ul>
      <% clube.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :cep %>
    <%= f.text_field :cep %>
  </div>

  <div class="field">
    <%= f.label :cep_campo %>
    <%= f.text_field :cep_campo %>
  </div>

  <div class="field">
    <%= f.label :rua %>
    <%= f.text_field :rua %>
  </div>

  <div class="field">
    <%= f.label :rua_campo %>
    <%= f.text_field :rua_campo %>
  </div>

  <div class="field">
    <%= f.label :bairro %>
    <%= f.text_field :bairro %>
  </div>

  <div class="field">
    <%= f.label :bairro_campo %>
    <%= f.text_field :bairro_campo %>
  </div>

  <div class="field">
    <%= f.label :cidade %>
    <%= f.text_field :cidade %>
  </div>

  <div class="field">
    <%= f.label :cidade_campo %>
    <%= f.text_field :cidade_campo %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :estado_campo %>
    <%= f.text_field :estado_campo %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.number_field :numero %>
  </div>

  <div class="field">
    <%= f.label :numero_campo %>
    <%= f.number_field :numero_campo %>
  </div>

  <div class="field">
    <%= f.label :categoria %>
    <%= f.text_field :categoria %>
  </div>

  <div class="field">
    <%= f.label :cor_uniforme %>
    <%= f.text_field :cor_uniforme %>
  </div>

  <div class="field">
    <%= f.label :campo %>
    <%= f.check_box :campo %>
  </div>

  <div class="field">
    <%= f.label :telefone_clube %>
    <%= f.text_field :telefone_clube %>
  </div>

  <div class="field">
    <%= f.label :telefone_contato %>
    <%= f.text_field :telefone_contato %>
  </div>

  <div class="field">
    <%= f.label :nome_contato %>
    <%= f.text_field :nome_contato %>
  </div>

  <div class="field">
    <%= f.label :data_fundacao %>
    <%= f.date_select :data_fundacao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
