<ul class="nav nav-tabs pagination" role="tablist">
  <li class="nav-item">
    <a class="nav-link btn btn-outline-red-ade active" href="#informacoes" role="tab" data-toggle="tab">Informações gerais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-red-ade" href="#contato" role="tab" data-toggle="tab">Contato</a>
  </li>
  <li class="nav-item">
    <a class="nav-link btn btn-outline-red-ade" href="#endereco_sede" role="tab" data-toggle="tab">Endereço</a>
  </li>
  <li class="nav-item">
    <a class="endereco_clube_tab nav-link btn btn-outline-red-ade" href="#endereco_campo" role="tab" data-toggle="tab">Endereço do campo</a>
  </li>        
</ul>

<%= simple_form_for(clube) do |f| %>
  <div class="form-inputs">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="informacoes">
        <%= f.input :nome, label: "Nome: ", required: "required", autofocus: true %>
        <%= f.input :categoria, label: "Categoria: " %>
        <%= f.input :cor_camisa_uniforme, label: "Cor da camisa de uniforme: "%>
        <%= f.input :cor_bermuda_uniforme, label: "Cor da bermuda de uniforme: "%>
        <%= f.input :cor_meias_uniforme, label: "Cor das meias de uniforme: "%>
        <% if @clube.campo %>
          <%= f.input :campo, label: "Possui campo?", input_html: { checked: true, class: "campo" } %>
        <% else %>
          <%= f.input :campo, label: "Possui campo?", input_html: { class: "campo" } %>
        <% end %> 
      </div>

      <div role="tabpanel" class="tab-pane" id="contato">
        <%= f.input :telefone_clube, label: "Telefone do clube: ", input_html: { class: "celular" } %>
        <%= f.input :nome_contato, label: "Nome do contato: "%>
        <%= f.input :telefone_contato, label: "Telefone do contato: ", input_html: { class: "celular" } %>
      </div>

      <div role="tabpanel" class="tab-pane" id="endereco_sede">
        <%= f.input :cep, label: "CEP: ", input_html: { class: "cep" } %>
        <%= f.input :estado, label: "Estado: "%>
        <%= f.input :cidade, label: "Cidade: "%>
        <%= f.input :bairro, label: "Bairro: "%>
        <%= f.input :rua, label: "Rua: "%>
        <%= f.input :numero, label: "Número: "%>     
      </div> 
    
      <div role="tabpanel" class="tab-pane" id="endereco_campo">
        <%= f.input :cep_campo, label: "CEP: ", input_html: { class: "cep" } %>
        <%= f.input :estado_campo, label: "Estado: "%>
        <%= f.input :cidade_campo, label: "Cidade: "%>
        <%= f.input :bairro_campo, label: "Bairro: "%>
        <%= f.input :rua_campo, label: "Rua: "%>
        <%= f.input :numero_campo, label: "Número: "%>
      </div>
    </div>
  </div>
  
  <div class="actions row">
    <div class="ml-auto col-auto mr-auto">
      <%= link_to 'Voltar', clubes_path, class: "btn btn-danger" %>
      <%= f.submit "Salvar", class: "btn btn-success" %>
    </div>
  </div>
<% end %>
