<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @clube.nome %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @clube.cep %>
</p>

<p>
  <strong>Cep campo:</strong>
  <%= @clube.cep_campo %>
</p>

<p>
  <strong>Rua:</strong>
  <%= @clube.rua %>
</p>

<p>
  <strong>Rua campo:</strong>
  <%= @clube.rua_campo %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @clube.bairro %>
</p>

<p>
  <strong>Bairro campo:</strong>
  <%= @clube.bairro_campo %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @clube.cidade %>
</p>

<p>
  <strong>Cidade campo:</strong>
  <%= @clube.cidade_campo %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @clube.estado %>
</p>

<p>
  <strong>Estado campo:</strong>
  <%= @clube.estado_campo %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @clube.numero %>
</p>

<p>
  <strong>Numero campo:</strong>
  <%= @clube.numero_campo %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @clube.categoria %>
</p>

<p>
  <strong>Cor uniforme:</strong>
  <%= @clube.cor_uniforme %>
</p>

<p>
  <strong>Campo:</strong>
  <%= @clube.campo %>
</p>

<p>
  <strong>Telefone clube:</strong>
  <%= @clube.telefone_clube %>
</p>

<p>
  <strong>Telefone contato:</strong>
  <%= @clube.telefone_contato %>
</p>

<p>
  <strong>Nome contato:</strong>
  <%= @clube.nome_contato %>
</p>

<p>
  <strong>Data fundacao:</strong>
  <%= @clube.data_fundacao %>
</p>

<%= link_to 'Edit', edit_clube_path(@clube) %> |
<%= link_to 'Back', clubes_path %>
