<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @parente.nome %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @parente.parentesco %>
</p>

<p>
  <strong>Data nascimento:</strong>
  <%= @parente.data_nascimento %>
</p>

<p>
  <strong>Associado:</strong>
  <%= @parente.associado %>
</p>

<%= link_to 'Edit', edit_parente_path(@parente) %> |
<%= link_to 'Back', parentes_path %>
