<nav class="navbar navbar-expand-sm bg-dark navbar-dark" ng-class="navbarHidden">
  <a class="navbar-brand" href="/">
    <i class="fas fa-futbol bg-dark"></i>
    <b>Sistema ADE</b>
  </a>

  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbar-collapse" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to associados_path, class: "nav-link text-light" do %>
          <i class="fas fa-user text-light"></i> Associados
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to clubes_path, class: "nav-link text-light" do %>
          <i class="fas fa-users text-light"></i> Clubes
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to jogos_path, class: "nav-link text-light" do %>
          <i class="far fa-futbol text-light"></i> Jogos
        <% end %>
      </li>

      <li class="nav-item">
        <%= link_to agenda_path, class: "nav-link text-light" do %>
          <i class="fas fa-calendar-alt text-light"></i> Agenda
        <% end %>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link text-light" href="/relatorios"><i class="fas fa-calendar-check text-light"></i> Relatórios</a>
      </li> -->
    </ul>
    <ul class="navbar-nav">
      <!-- <li class="nav-item">
        <a class="nav-link text-light" href="/"><i class="fas fa-bell text-light"></i> Notificações</a>
      </li> -->

      <li class="nav-item">
      	<%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-light" do %>
      		<i class="fas fa-sign-out-alt text-light"></i> Sair
      	<% end %>
      </li>
    </ul>
  </div>
</nav>