<!DOCTYPE html>
<html>
  <head>
    <title>ADE</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta http-equiv="pragma" content="no-cache">

    <%= csrf_meta_tags %>

    <!-- Font Awesome -->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if(current_user) %>
  		<%= render "layouts/header" %>
  	<% end %>

  	<div class="container">
    	<%= yield %>
  	</div>
  </body>
</html>
